.header-color{
    }

.landing-grid{
    background: #70e1f5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ffd194, #70e1f5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ffd194, #70e1f5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}

.avatar-img{
    height: 300px;
    width: 300px;
    border-radius: 300px;
    align-content: center;
    align-items: center;
}

.banner-text{
    background-color: black;
    opacity: .8;
    width: 75%;
    margin: auto;
    border-radius: 10px;
    color: white;  
}

.banner-text h1{
    font-size: 66px;
    font-weight: bold;
    color: white;
    display: flex;
    align-content: center;
    align-items: center;
}

.banner-text hr{
   border-top: 5px dotted white;
   margin: auto;
   width: 50%
}

.banner-text p{
    font-size: 20px;
    margin: auto;

}

.icons{
    background-color: white;
    color: black;
    justify-content: space-between;
    width: 50px;
    margin: auto;
}

.card{
    background-color: black
}